doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    block content
    body.container
      div#title
        div
          h2.center Edwin Rivera
        div
          h3.center Javascript Developer
      div#content
        a.editor(href="https://placeholder.com")
        img(src="http://via.placeholder.com/900x450" alt="restaurant")
      div#projects
        div.articles
          a(href="http://github.com/haeke")
            h3 Restaurant
