doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style2.css')
  body
    block content
    body.container
      div#title
        div
          h2.center Edwin Rivera
        div
          h3.center Javascript Developer
      div#content
        a.editor(href="https://placeholder.com")
        img(src="http://via.placeholder.com/900x450" alt="restaurant")
      div#projects
        div.articles
          a(href="http://github.com/haeke")
            h3 Restaurant
          img(src="http://via.placeholder.com/800x550" alt="new restaurant")
          p Built a restaurant app that uses google maps to place markers at a given location.
        div.articles
          a(href="http://github.com/haeke")
            h3 Museum Gallery
          img(src="http://via.placeholder.com/800x550" alt="muesum gallery")
          p Built an app that lists museums in NYC that uses google maps and the Wikipedia API.
        div.articles
          a(href="http://github.com/haeke")
            h3 Catalog
          img(src="http://via.placeholder.com/800x550" alt="user catalog")
          p Built an app that lists catalog items by category. Users can sign up and comment on categories.
      footer
            h2 Contact me
            h2 Social Media
