doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styles.css', type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Arvo')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      h2 Website
      a(href="/about")
        h2 About
      a(href="/form")
        h2 Form
      a(href="/contact")
        h2 Contact
  block content
