html {
    font-family: 'Arvo', serif;
    background: gray;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

form {
  display: grid;
  padding: 1em;
  background: #f9f9f9;
  border: 1px solid #c1c1c1;
  margin: 2rem auto 0 auto;
  max-width: 600px;
}

form input {
  background: #fff;
  border: 1px solid ##9c9c9c9c;
}

form button {
  background: #fefefe;
  padding: 0.7em;
  width: 100%;
  border: 0;
}

form button:hover {
  background: #ffd700;
}

label {
  padding: 0.5em 0.5em 0.5em 0;
}

input {
  padding: 0.7em;
  margin-bottom: 0.5rem;
}

input:focus {
  outline: 2px solid #ffd700;
}


@media (min-width: 400px) {
  form {
    grid-template-columns: 200px 1fr;
    grid-gap: 16px;
  }

  label {
    text-align: right;
    grid-column: 1 / 2;
  }

  h2 {
    grid-column: 2 / 3;
  }

  input,
  button {
    grid-column: 2 / 3;
  }
}
